*{
    box-sizing: border-box;
    padding: 0px;
}
body{
    background-color: white;
 
}
.container{
  

}
.header{
   
    height: 60px;
    
}
.child1{
   
    float:left;
    height:60px;
    color:#125357;
    
}

.child2{
    
    float:right;
    height:60px;
    width:600px;
    border-radius: 100px;
    background-color: #FAF9F6;
}
a{
    text-decoration: none;
   display: inline-block;
    padding:15px;
    margin-right: 5px;
   
}
.image{ 
   
   height:600px;
   position: relative;
}
img{
    width: 100%;
            height: 100%;
}
.bottom-left {
    position: absolute;
    bottom: 200px;
    right:1100px;
    
  }
  .bottom-left pre{
    color:white;
    font-size:40px;
  }
  .content{
   
    height: 400px;
    width: 80%;
    margin: auto;
    
  }
.content-imag{
    margin-top:10px;
    height: 350px;
    width: 300px;
    float:left
   
}
.content-link{
    height: 400px;
    width: 600px;
    float:left;
}
.content-text{
    height: 350px;
    width: 299px;
    float:left;
}
ul{
    margin-left:50px;
    padding:20px;
}
ul li{
    padding:5px;
}


.second-image{
   
    height:500px;
    position: relative;
}
.video{
    text-align: center;
    position: absolute;
    margin-top:-200px;
    margin-left:300px;
  
}
#video{
     width:900px;
     height: 350px;
    
}
.provide{
  
    height:600px;
    margin-top:200px;
}
.provide1{
  
    
}
.provide pre{
    text-align: center;
}
.provide2{
   
}
.provide3{
   

}
.image-button2{
    width:100px;
    height: 30px;
}
.provide1 img{
    width:300px;
    height:200px;
}

.child{
    width:300px;
    height: 200px;
     margin-right:200px;
    margin:20px auto;
}
.parent1{
    width:350px;
    height:400px;
     float:left;
    margin-left:150px;
    margin-top:50px;

}
.parent2{

    width:350px;
    height:400px;
    float:left;
    margin-top:50px;
    margin-left:50px;

}  
.parent3{

    width:350px;
    height:400px;
   float:right;
   margin-right:200px;
   margin-top:50px;
}
.image-button2{
    margin-top:5px;
    background-color: #125357 ;
    color:white;

}
.image-button1{
    margin-top:5px;
    padding:2px;
    background-color:#125357 ;
    color:white;
}
.content-link-text{
    margin-left:30px;
}
.content-link-text a{
     color:red;
}
.footer{
    background-color: #0d7377;
    color:black;
    height: 80px; 
    text-align: center;
    padding:5px;
}
